.image-section > a{
    display:block;
    margin-top: 10px;
}
img{
    border-radius: 5px;
    margin-top: 20px;
}

#feedback-form > h2 {
    font-size: 16px;
    margin-bottom: 0;
}

#feedback-form > label {
    display: block;
}
#form-btn {
    display: block;
    margin-top: 10px;
}
#comment{
    width: 300px;
    height: 80px;
}